#murugan  {
			
			color:turquoise;
			background-color:aqua;
			font-size:20px;
			
          }
		  
		  
		  
#manimegala {
			
				color:teal;
				background-color:silver;
				font-size:20px;
			
			}
			
			
			
			
#kalai    {
			
				color:black;
				background-color:brown;
				font-size:20px;
			
		  }



#mooka	 {
			
				color:gray;
				background-color:pink;
				font-size:20px;
			
	     }			
		 
		 
		 
#veni    {
			
				color:yellow;
				background-color:green;
				font-size:20px;
			
	     }			
		 
		 
		 
#cherman  {
			
				color:red;
				background-color:silver;
				font-size:20px;
			
	      }			